* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
  color: #333;
  margin: 0;
}

h1 {
  font-size: 25px;
  font-weight: lighter;
  color: #aaa;
}

img {
  width: 60px;
  height: 60px;
}

a {
  text-decoration: none;
  color: #777;
}

.container {
  max-width: 800px;
  margin: 30px auto 0 auto;
}

.pagination-pre,
.pagination-list,
.pagination-post {
  display: inline-block;
}

.pagination button {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
}

button.active {
  background: #ccc;
}

.pagination-fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  display: block;
}

#pagination-container {
  text-align: center;
}

#pagination-container>* {
  display: inline-block;
}

.pager {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-left-width: 0;
}

.pager:first-child {
  border-left-width: 1px;
}

.pager.active {
  background: rgba(0, 0, 0, .2);
  color: #000;
}