<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>support</title>
  <!-- common style start -->
  <link rel="stylesheet" href="../../assets/vendor/minireset.css">
  <link rel="stylesheet" href="../../assets/css/common/global.css">
  <!-- common style end -->

  <!-- nav style start -->
  <link rel="stylesheet" href="../../assets/css/components/nav.global.css">
  <link rel="stylesheet" href="../../assets/css/components/nav.page.css">
  <!-- nav style end -->

  <!-- footer style start -->
  <link rel="stylesheet" href="../../assets/css/components/footer.css">
  <!-- footer style end -->

  <!-- login style start -->
  <link rel="stylesheet" href="../../assets/css/pages/support.css">
  <!-- login style end -->

</head>

<body>

  <header>
    <nav class="row global">
      <div class="fl">
        <a href="">小米商城</a>
        <a href="">MIUI</a>
        <a href="">LoT</a>
        <a href="">云服务</a>
        <a href="">水滴</a>
        <a href="">金融</a>
        <a href="">有品</a>
        <a href="">Region</a>
      </div>
      <div class="fr">
        <a href="">login</a>
        <a href="">login</a>
        <a href="">login</a>
        <a href="">login</a>
      </div>
    </nav>
  </header>

  <div class="main">
    <div class="container">
      <div class="breadcrumb">
        <a href="#">首页</a>
        /
        <a href="#">帮助中心</a>
        /
        <a href="#">售后服务</a>
        /
        <a href="#">快递费报销</a>
      </div>
      <div class="row-gt">
        <div class="col-lg-3 col-sm-12">
          <div class="cat">
            <div class="title">售后服务</div>
            <div class="link-group">
              <div>
                <a href="#">售后申请</a>
              </div>
              <div>
                <a href="#">快递费报销</a>
              </div>
              <div>
                <a href="#">维修价格查询</a>
              </div>
              <div>
                <a href="#">查询授权服务网点</a>
              </div>
              <div>
                <a href="#">返厂邮寄注意事项</a>
              </div>
              <div>
                <a href="#">到店一小时快修服务</a>
              </div>
            </div>
            <div class="support">
              <a href="#">联系客服</a>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-sm-12">
          <div class="content">
            <h2 class="title">快递费报销</h2>
            <p>一、什么是快递费报销？
              <br> 商品发生质量问题办理退换修时，同时邮寄回快递发票原件(发票上有快递公司章)，经我们核实您的商品符合快递费报销的标准，我们会为您报销最高不超过15元（小米无人机、米家扫地机器人、小米笔记本不超过30元）的快递费，我们会为您发送领取报销快递费的短信，您可以根据短信直接到快递报销页面中申请领取，审核通过后会在7个工作日内到账。
            </p>
            <p>二、如何报销快递费用？</p>
            <a href="#">http://service.order.mi.com/user/compensate</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
