/* =========== header start ============ */
header nav {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 10px;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  color: #aaa;
  padding: 10px;
  font-size: 0.7rem;
}
header nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}
/* =========== header end ============ */

/* nav.global {
  background: rgba(0, 0, 0, 0.3);
  min-height: 40px;
} */
