<header>
    <nav class="row">
        <div class="fl">
            <a href="">小米商城</a>
            <a href="">MIUI</a>
            <a href="">LoT</a>
            <a href="">云服务</a>
            <a href="">水滴</a>
            <a href="">金融</a>
            <a href="">有品</a>
            <a href="">Region</a>
        </div>
        <div class="fr">
            <a href="">login</a>
            <a href="">login</a>
            <a href="">login</a>
            <a href="">login</a>
        </div>
    </nav>
</header>