<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue-memo</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="root">

    <div class="row container">
      <div class="col sidebar">
        <div class="sidebar-item row" @click="current = memo" v-for="(memo,index) in memoList">
          <span class="memo">{{memo.title}}</span>
          <div class="tool-set">
            <span @click.stop="remove(index)">
              删除
            </span>
          </div>
        </div>
        <button @click="create()" class="block">新增</button>
      </div>
      <div class="col main">
        <div v-if="current" class="editor">
          <input v-model="current.title" type="text" placeholder="标题">
          <textarea v-model="current.content" placeholder="内容"></textarea>
          <button @click="submit(current)">提交</button>
          <button @click="current = null">关闭</button>
        </div>
        <div v-else class="holder">
          请点击新增按钮添加一条，或者点击已有备忘进行编辑
        </div>
      </div>
    </div>
  </div>


  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="ajax.js"></script>
  <script src="main.js"></script>
</body>

</html>